* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.wrapper {
  width: 100%;
  max-width: 800px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header,
footer {
  background-color: #ffffff;
  border-bottom: 1px solid #cccccc;
  padding: 10px 0;
}

.logo img {
  height: 30px;
  vertical-align: middle;
}

.search-bar {
  display: flex;
  flex: 1;
  margin-left: 20px;
}

.search-bar input[type="text"] {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #cccccc;
  border-radius: 4px 0 0 4px;
  width: 100%;
}

.search-bar button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #4285f4;
  color: #ffffff;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.shortcuts {
  margin-left: 20px;
}

.shortcuts a {
  color: #555555;
  text-decoration: none;
  margin-left: 16px;
  font-size: 14px;
}

.shortcuts a:hover {
  text-decoration: underline;
}

.settings {
  color: #4285f4;
  text-decoration: none;
  font-size: 14px;
  margin-left: 20px;
}

.settings:hover {
  text-decoration: underline;
}

#nav-menu {
  display: flex;
  justify-content: flex-start;
  background-color: rgb(218, 215, 215);
  padding: 15px 10px;
  margin-bottom: 20px;
}

.nav-items {
  text-decoration: none;
  font-size: 16px;
  color: black;
  margin-right: 20px; /* Add margin-right for spacing between items */
}

.nav-items:hover {
  text-decoration: underline;
  color: rgb(61, 55, 55);
}
